/* Add CSS Styling */
.odd{
    background-color: rgb(255, 180, 180);
    font-family: verdana, "DejaVu Sans", sans-serif;
}

.adjust-font-size{
    font-size: 24px;
}

#two{
    color: #4a6bff;
    font-size: 36px;
}

#four{
    background-color: hsl(123, 70%, 75%);
    font-weight: bold;
}